<div class="box small_box third_row first social thebroad-239-block thebroad-239-290-block ">
	<h3 class="rotate" id="followTitle"> Follow Us </h3>
	<div class="inner_box">

		<div class="socialmedia clearfix">
			<ul>
				<li>
					<a href="http://www.twitter.com/thebroad" alt="Twitter"><img src="/sites/default/files/images/icons/twitter.png"></a>
				</li>
				<li>
					<a href="http://www.facebook.com/thebroadmuseum" alt="Facebook"><img src="/sites/default/files/images/icons/facebook.png"></a>
				</li>
				<li>
					<a href="https://plus.google.com/u/0/b/101729682029831671888/101729682029831671888/about" alt="Google Plus"><img src="/sites/default/files/images/icons/googleplus.png"></a>
				</li>
				<li>
					<a href="http://www.linkedin.com/company/the-broad-art-foundation/" alt="LinkedIn"><img src="/sites/default/files/images/icons/linkedin.png"></a>
				</li>
				<li>
					<a href="http://www.youtube.com/channel/UCWnEBKVAC-qqUVE-DlTMFEA" alt="YouTube"><img src="/sites/default/files/images/icons/youtube.png"></a>
				</li>
				<li>
					<a href="http://www.flickr.com/people/101390734@N03/" alt="Flickr"><img src="/sites/default/files/images/icons/flickr.png"></a>
				</li>
			</ul>
		</div>
		<!-- .socialmedia -->
	</div>
	<!--.inner_box -->
</div>

<div class="box large_box first_row thebroad-frontpage-3x3-block thebroad-340x290-block">
<div class="box_image"><a href="/webcam"><img src="/sites/default/files/images/webcam.png"></a></div>
<div class="inner_box">
<div class="box_title">
<a class="darkGrey" href="/webcam"><h1>Live Webcam </h1></a>
</div>

<div class="box_details"><a class="mediumGrey" href="/webcam">Watch the building's construction progress and see a timelapse video from day one. </a>
</div>
</div><!--.inner_box -->
</div>

<!--____________________________carousel --------------------->
<div id="aboutCollection" class="bottomBorder topBorder">
				<p>
					Forty years in the making, The Broad will be home to the one of the most prominent and important collections of postwar and contemporary art assembled by philanthropists Eli and Edythe Broad. The new museum will also be home to The Broad Art Foundation's worldwide lending library, where works from the nearly 2,000-piece Broad collections are made available to museums around the globe. For the past 40 years, the Broads have assembled a private collection of contemporary art that feature masterworks by more than 200 artists including Jeff Koons, Jasper Johns, Cindy Sherman, Andy Warhol, Jean-Michel Basquiat, Barbara Kruger and Roy Lichtenstein.
				</p>
				<a href="http://broadartfoundation.org/all_artists.html?sid=32" target="_blank" class="thebroad-content-links">
				Browse the collections on The Broad Art Foundation website
				</a>
			</div>


<div id="tb-carousel-controlls-header" style="width:100; height: 100px; display:block; margin: 50px 0px;">
<div style="float:left;"><h1>Featured Artists</h1></div>
<div id="tb-carousel-controlls">
	
	<div id="tb-next" class="tb-control-item">
		<a id="a-next"  class="jcarousel-control-next" href="#">next</a></div>
	<div class="tb-control-item"><h3>Scroll To See More</h3></div>
	<div id="tb-prev" class="tb-control-item"
	><a id="a-prev" class="jcarousel-control-prev" href="#">prev</a></div>

	<div style="clear: both;"></div>
<p class="jcarousel-pagination"></p>
</div>
</div>
<a href="javascript:void(0)" class="jcarousel-prev jcarousel-prev-horizontal" disabled="false"></a>

<a href="javascript:void(0)" class="jcarousel-next jcarousel-next-horizontal" disabled="false"></a>
<!--_______________________________-->

<div id="tb-carousel-controlls-header" style="width:100; height: 100px; display:block; margin: 50px 0px;">
<div style="float:left;"><h1>Featured Artists</h1></div>
<div id="tb-carousel-controlls">
	
	<div id="tb-next" class="tb-control-item">
		<<a href="javascript:void(0)" class="jcarousel-prev jcarousel-prev-horizontal" disabled="false">prev</a>
		</div>
	<div class="tb-control-item"><h3>Scroll To See More</h3></div>
	<div id="tb-next" class="tb-control-item">
		<a href="javascript:void(0)" class="jcarousel-next jcarousel-next-horizontal" disabled="false">next</a>
		</div>

	<div style="clear: both;"></div>
<p class="jcarousel-pagination"></p>
</div>
</div>

<!--_________________________-->
<div class="box large_box first_row thebroad-frontpage-3x3-block thebroad-340x290-block thebroad-views-block">
<div class="box_image"><a href="programs" class="darkGrey">[field_lightbox_image]</a></div>
<div class="inner_box">
						
						<div class="box_title">
								<a href="programs" class="darkGrey">
								<h1>Upcoming Programs</h1>
							</a>
						</div>
						<div class="box_details">
							<a href="programs" class="mediumGrey">
								Explore the collection through talks with artists and cultural and art world leaders. 
							</a>
						</div>
 					</div> <!--.inner_box -->
</div><!-- end: box large_box first_row thebroad-frontpage-3x3-block thebroad-340x290-block -->





<div class="box large_box first_row thebroad-frontpage-3x3-block thebroad-340x290-block thebroad-views-block">
<div class="box_image"><a href="building">[[field_lightbox_image]</a></div>
<div class="inner_box">						
						<div class="box_title">
							<a href="building" class="darkGrey">
								<h1>The Building</h1>
							</a>
						</div>
						<div class="box_details">
							<a href="building" class="mediumGrey">
								Videos, renderings and facts about the building designed by Diller Scofidio + Renfro. 
							</a>
						</div>
 					</div> <!--.inner_box -->

</div><!-- end: box large_box first_row thebroad-frontpage-3x3-block thebroad-340x290-block -->


<div class="contentBox">
	<h2> Join our Press List </h2>
	<p>
		Join our press list to receive releases and media preview invitations.
	<p>
	<p>
		<a href="http://eepurl.com/D5gsv" target="_blank" class="button"> Sign Up Now </a>
	</p>
</div>

<div class="contentBox">
	<h2> Join our Press List </h2>
	<p>
		Join our press list to receive releases and media preview invitations.
	</p><p></p>
	<p>
		<a href="http://eepurl.com/D5gsv" target="_blank" class="button"> Sign Up Now </a>
	</p>
</div>

<div class="contentBox">
	<!-- Press Contact -->
	<h2> Press Contact </h2>
	<address>
		Alex Capriotti
		<br>
		Director of Marketing and Communications
		<br>
		213-232-6236
	</address>
	<a href="mailto:communications@thebroad.org"> communications@thebroad.org </a>
</div>

<div class="contentBox">
	<!--Follow Us -->
	<h2> Follow us </h2>
	<p>
		Stay up to date with everything happening at The Broad.
	</p>
	<p>
		<a href="http://eepurl.com/DXOYz" target="_blank" class="button"> Join our public email list </a>
	</p>
</div>





<div id="views_slideshow_cycle_div_featured_artwork-art_pages_slideshow_2" 
class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-# views_slideshow_cycle_hidden views-row-odd">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-2 views-row-odd views-row-last">
  
    <div class="views-field views-field-field-preview-sharing-image">       
    </div>    
</div>
</div>

<?php
dpm($row1->field_artist_);

//$node = node_load($row1->field_artist_);
//$title = check_plain($node->title);

//dpm($title);

//preg_match('~([^\s]+)(?:,.*)?$~',$title, $match);

//dpm($match);

//return $match[0];

?>



<script>
(function($) {
    $(document ).ready(function() {

    console.log('jquery dom manipulation');
  
$('.view-display-id-jcarousel div.view-header').prepend('<div id="thebroad-featured-artist-title-jcarousel"><h1>Featured Artists</h1></div>');

var before = '<div id="thebroad-featured-artist-controls">';
var after = '</div><div style="clear:both;"></div>';

$('.jcarousel-prev-horizontal').before(before);

$('.jcarousel-prev-horizontal').append('<div id ="thebroad-featured-artist-scroll-text"><h3>Scroll To See More</h3></div>');

$('.jcarousel-next-horizontal').after(after);


      
 });
})(jQuery);
</script> 


<script>
(function($) {
    $(document ).ready(function() {

    console.log('jquery dom manipulation');
  
$('.view-display-id-jcarousel div.view-header').prepend('<div id="thebroad-featured-artist-title-jcarousel"><h1>Featured Artists</h1></div>');

var before = '<div id="thebroad-featured-artist-controls">';
var after = '</div><div style="clear:both;"></div>';

$('.jcarousel-prev-horizontal').before().html(before);

$('.jcarousel-prev-horizontal').append('<div id ="thebroad-featured-artist-scroll-text"><h3>Scroll To See More</h3></div>');

$('.jcarousel-next-horizontal').after().html(after);      
 });
})(jQuery);
</script> 

<?php

$title = "";

?>